services:
  web:
    image: nginx:latest
    volumes:
      - ./web/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "5002:80"
  app:
    build:
      dockerfile: Dockerfile
    volumes:
      - ./app:/var/www/html
